Dataframes com Julia

Para começo de conversa, um dataframe é um objeto de duas dimensões, cada coluna possui um valor distinto, e tem como objetivo armazenar armazenar dados, ou parte de uma base de dados.

qual a diferenca entre matriz e Dataframe

Uma matriz é composta por por linhas e colunas, porém todos os dados de uma matriz são do mesmo tipo, enquanto um dataframe, também composto por linhas e colunas, pode ser formado por diferentes tipos de dados.

anotacao: é possível transformar matrizes em dataframes com Julia usando: DataFrame(MatrizParaSerConvertida).

Trabalhar com dataframes é uma softskill muito útil para fazermos uma análise exploratória dos dados disponíveis, muitas vezes com uma análise simplicada, já é possível chegar a 
alguns insigths sobre como prosseguir com o processo.

anotacao: Com análise exploratória conseguimos um entendimento básico do relacimento das variáveis disponíveis no dataframe, podemos usar também, usar métodos estatísticos junto da exploracão.

Comecando com Dataframes

vamos comecar importando as bibliotecas que serão usadas nessa etapa.

In [1]:
using DataFrames
using CSV
using Downloads

csvFile = "avocado.csv"

"avocado.csv"

Ao importar o csv, é feito um dump dos dados, porém mesmo estando de maneira ordenada, continua bem baguncado. Bora por ordem na casa.

In [2]:
abacatesCsv = CSV.File(csvFile)[1:10,:]

10×1 Matrix{CSV.Row}:
 CSV.Row: (Column1 = 0, Date = Dates.Date("2015-12-27"), AveragePrice = 1.33, Total Volume = 64236.62, 4046 = 1036.74, 4225 = 54454.85, 4770 = 48.16, Total Bags = 8696.87, Small Bags = 8603.62, Large Bags = 93.25, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 1, Date = Dates.Date("2015-12-20"), AveragePrice = 1.35, Total Volume = 54876.98, 4046 = 674.28, 4225 = 44638.81, 4770 = 58.33, Total Bags = 9505.56, Small Bags = 9408.07, Large Bags = 97.49, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 2, Date = Dates.Date("2015-12-13"), AveragePrice = 0.93, Total Volume = 118220.22, 4046 = 794.7, 4225 = 109149.67, 4770 = 130.5, Total Bags = 8145.35, Small Bags = 8042.21, Large Bags = 103.14, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 3, Date = Dates.Date("2015-12-06"), AveragePrice = 1.08, Total Volume = 78992.15, 4046 = 1132.0, 4225 = 71976.41, 4770 = 72.58, Total Bags = 5811.16, Small Bags = 5677.4, Large Bags = 133.76, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 4, Date = Dates.Date("2015-11-29"), AveragePrice = 1.28, Total Volume = 51039.6, 4046 = 941.48, 4225 = 43838.39, 4770 = 75.78, Total Bags = 6183.95, Small Bags = 5986.26, Large Bags = 197.69, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 5, Date = Dates.Date("2015-11-22"), AveragePrice = 1.26, Total Volume = 55979.78, 4046 = 1184.27, 4225 = 48067.99, 4770 = 43.61, Total Bags = 6683.91, Small Bags = 6556.47, Large Bags = 127.44, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 6, Date = Dates.Date("2015-11-15"), AveragePrice = 0.99, Total Volume = 83453.76, 4046 = 1368.92, 4225 = 73672.72, 4770 = 93.26, Total Bags = 8318.86, Small Bags = 8196.81, Large Bags = 122.05, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 7, Date = Dates.Date("2015-11-08"), AveragePrice = 0.98, Total Volume = 109428.33, 4046 = 703.75, 4225 = 101815.36, 4770 = 80.0, Total Bags = 6829.22, Small Bags = 6266.85, Large Bags = 562.37, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 8, Date = Dates.Date("2015-11-01"), AveragePrice = 1.02, Total Volume = 99811.42, 4046 = 1022.15, 4225 = 87315.57, 4770 = 85.34, Total Bags = 11388.36, Small Bags = 11104.53, Large Bags = 283.83, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 9, Date = Dates.Date("2015-10-25"), AveragePrice = 1.07, Total Volume = 74338.76, 4046 = 842.4, 4225 = 64757.44, 4770 = 113.0, Total Bags = 8625.92, Small Bags = 8061.47, Large Bags = 564.45, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")

Para ficar mais organizado, é só converter a matriz para um dataframe e a brincadeira comeca a ficar mais legal.

In [7]:
abacatesDataframe = CSV.File(csvFile) |> DataFrame;

Se tiver alguma dúvida sobre alguma funcão ou parâmetro, basta usar ˜?˜ antes do objeto de sua curiosidade.

In [1]:
?|>

search: |>

  |>(x, f)

  Applies a function to the preceding argument. This allows for easy function
  chaining.

  Examples
  ≡≡≡≡≡≡≡≡≡≡

  julia> [1:5;] |> x->x.^2 |> sum |> inv
  0.01818181818181818

Por padrão um csv é sempre delimitado por virgulas, porém caso seu arquivo possua delimitadores diferentes, Julia vai tentar identifica-lo durante a iteracão com as 10 primeiras linhas. Caso necessário é possível especificar o delimitador do arquivo.

In [5]:
read(csvFile, DataFrame; delim="|") # segue outra forma de criar um dataframe à partir de uma matriz CSV.read(path, DataFrame;)

LoadError: MethodError: no method matching read(::String, ::Type{DataFrame}; delim="|")
Closest candidates are:
  read(::AbstractString, ::Type{T}) where T at io.jl:434 got unsupported keyword argument "delim"
  read(::AbstractString, ::Any...) at io.jl:432 got unsupported keyword argument "delim"
  read(::IO, ::Type) at io.jl:967 got unsupported keyword argument "delim"

Usando sintaxes de indexacão 

sintexes de indexacão são as maneiras mais simples de percorrermos, ou quebrarmos um dataset em deferentes blocos. A pesquisa toda é feita de uma forma bem similar à percorrer arrays e matrizes.

Retornando apenas os 10 primeiros valores do dataframe

In [9]:
abacatesDataframe[1:10,:]

10×14 DataFrame
 Row │ Column1  Date        AveragePrice  Total Volume   4046     4225         ⋯
     │ Int64    Date…       Float64       Float64        Float64  Float64      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │       0  2015-12-27          1.33  64236.6        1036.74  54454.8      ⋯
   2 │       1  2015-12-20          1.35  54877.0         674.28  44638.8
   3 │       2  2015-12-13          0.93      1.1822e5    794.7       1.0915e5
   4 │       3  2015-12-06          1.08  78992.1        1132.0   71976.4
   5 │       4  2015-11-29          1.28  51039.6         941.48  43838.4      ⋯
   6 │       5  2015-11-22          1.26  55979.8        1184.27  48068.0
   7 │       6  2015-11-15          0.99  83453.8        1368.92  73672.7
   8 │       7  2015-11-08          0.98      1.09428e5   703.75      1.01815e
   9 │       8  2015-11-01          1.02  99811.4        1022.15  87315.6      ⋯
  10 │       9  2015-10-25          1.07  74338.8         842.4   64757.4
                                                               9 columns omitted

Buscando por linhas específicas:

In [20]:
abacatesDataframe[[1, 5, 10], :]

3×14 DataFrame
 Row │ Column1  Date        AveragePrice  Total Volume  4046     4225     4770 ⋯
     │ Int64    Date…       Float64       Float64       Float64  Float64  Floa ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │       0  2015-12-27          1.33       64236.6  1036.74  54454.8    48 ⋯
   2 │       4  2015-11-29          1.28       51039.6   941.48  43838.4    75
   3 │       9  2015-10-25          1.07       74338.8   842.4   64757.4   113
                                                               8 columns omitted

nrow é uma funcão ótima para descobrir quantos dados o arquivo possui

In [10]:
nrow(abacatesDataframe)

18249

Continuando com a exploracão do arquivo, o parametro allrows=true, faz um dump de todas as linhas do arquivo.

In [ ]:
#ver todas as linhas do dataframe
show(abacatesDataframe, allrows=true)

Na mesma funcão que o parametro allrows=true, o parametro allcols=true mostra todas as colunas do arquivo, mesmo que elas não caibam na tela.

In [11]:
#ver todas as colunas, até as que nao cabem na tela
show(abacatesDataframe, allcols=true)

18249×14 DataFrame
   Row │ Column1  Date        AveragePrice  Total Volume   4046      4225           4770     Total Bags     Small Bags     Large Bags  XLarge Bags  type          year   region
       │ Int64    Date…       Float64       Float64        Float64   Float64        Float64  Float64        Float64        Float64     Float64      String        Int64  String
───────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
     1 │       0  2015-12-27          1.33  64236.6         1036.74  54454.8          48.16   8696.87        8603.62            93.25         0.0   conventional   2015  Albany
     2 │       1  2015-12-20          1.35  54877.0          674.28  44638.8          58.33   9505.56        9408.07            97.49         0.0   conventional   2015  Albany
     3 │       2  2015-12-13          0.93      1.1822e5     794.7       1.0915e5    130.5    8145.35        8042.21           103.14         0.0   conventional   2015  Albany
     4 │       3  2015-12-06          1.08  78992.1         1132.0   71976.4          72.58   5811.16        5677.4            133.76         0.0   conventional   2015  Albany
     5 │       4  2015-11-29          1.28  51039.6          941.48  43838.4          75.78   6183.95        5986.26           197.69         0.0   conventional   2015  Albany
     6 │       5  2015-11-22          1.26  55979.8         1184.27  48068.0          43.61   6683.91        6556.47           127.44         0.0   conventional   2015  Albany
     7 │       6  2015-11-15          0.99  83453.8         1368.92  73672.7          93.26   8318.86        8196.81           122.05         0.0   conventional   2015  Albany
     8 │       7  2015-11-08          0.98      1.09428e5    703.75      1.01815e5    80.0    6829.22        6266.85           562.37         0.0   conventional   2015  Albany
     9 │       8  2015-11-01          1.02  99811.4         1022.15  87315.6          85.34  11388.4        11104.5            283.83         0.0   conventional   2015  Albany
    10 │       9  2015-10-25          1.07  74338.8          842.4   64757.4         113.0    8625.92        8061.47           564.45         0.0   conventional   2015  Albany
    11 │      10  2015-10-18          1.12  84843.4          924.86  75595.9         117.07   8205.66        7877.86           327.8          0.0   conventional   2015  Albany
   ⋮   │    ⋮         ⋮            ⋮              ⋮           ⋮            ⋮           ⋮           ⋮              ⋮            ⋮            ⋮            ⋮          ⋮           ⋮
 18240 │       2  2018-03-11          1.56  22128.4         2162.67   3194.25          8.93  16762.6        16510.3            252.25         0.0   organic        2018  WestTexNewMexico
 18241 │       3  2018-03-04          1.54  17393.3         1832.24   1905.57          0.0   13655.5        13401.9            253.56         0.0   organic        2018  WestTexNewMexico
 18242 │       4  2018-02-25          1.57  18421.2         1974.26   2482.65          0.0   13964.3        13698.3            266.06         0.0   organic        2018  WestTexNewMexico
 18243 │       5  2018-02-18          1.56  17597.1         1892.05   1928.36          0.0   13776.7        13553.5            223.18         0.0   organic        2018  WestTexNewMexico
 18244 │       6  2018-02-11          1.57  15986.2         1924.28   1368.32          0.0   12693.6        12437.4            256.22         0.0   organic        2018  WestTexNewMexico
 18245 │       7  2018-02-04          1.63  17074.8         2046.96   1529.2           0.0   13498.7        13066.8            431.85         0.0   organic        2018  WestTexNewMexico
 18246 │       8  2018-01-28          1.71  13888.0         1191.7    3431.5           0.0    9264.84        8940.04           324.8          0.0   organic        2018  WestTexNewMexico
 18247 │       9  2018-01-21          1.87  13766.8         1191.92   2452.79        727.94   9394.11        9351.8             42.31         0.0   organic        2018  WestTexNewMexico
 18248 │      10  2018-01-14          1.93  16205.2         1527.63   2981.04        727.01  10969.5        10919.5             50.0          0.0   organic        2018  WestTexNewMexico
 18249 │      11  2018-01-07          1.62  17489.6         2894.77   2356.13        224.53  12014.1        11988.1             26.01         0.0   organic        2018  WestTexNewMexico
                                                                                                                                                                        18228 rows omitted

Podemos percorrer as colunas do arquivo com eachcol, somando com a funcão eltype, recebemos o retorno dos tipos de cada coluna.

In [12]:
eltype.(eachcol(abacatesDataframe))

14-element Vector{DataType}:
 Int64
 Dates.Date
 Float64
 Float64
 Float64
 Float64
 Float64
 Float64
 Float64
 Float64
 Float64
 String
 Int64
 String

podemos buscar dados do início ou do fim do arquivo com First(DataFrame, QuantidadeDeArquivosParaRetorno) e Last(DataFrame, QuantidadeDeArquivosParaRetorno)

In [13]:
#10 ultimas
last(abacatesDataframe, 10)

10×14 DataFrame
 Row │ Column1  Date        AveragePrice  Total Volume  4046     4225     4770 ⋯
     │ Int64    Date…       Float64       Float64       Float64  Float64  Floa ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │       2  2018-03-11          1.56       22128.4  2162.67  3194.25     8 ⋯
   2 │       3  2018-03-04          1.54       17393.3  1832.24  1905.57     0
   3 │       4  2018-02-25          1.57       18421.2  1974.26  2482.65     0
   4 │       5  2018-02-18          1.56       17597.1  1892.05  1928.36     0
   5 │       6  2018-02-11          1.57       15986.2  1924.28  1368.32     0 ⋯
   6 │       7  2018-02-04          1.63       17074.8  2046.96  1529.2      0
   7 │       8  2018-01-28          1.71       13888.0  1191.7   3431.5      0
   8 │       9  2018-01-21          1.87       13766.8  1191.92  2452.79   727
   9 │      10  2018-01-14          1.93       16205.2  1527.63  2981.04   727 ⋯
  10 │      11  2018-01-07          1.62       17489.6  2894.77  2356.13   224
                                                               8 columns omitted

In [14]:
#10 primeras
first(abacatesDataframe, 10)

10×14 DataFrame
 Row │ Column1  Date        AveragePrice  Total Volume   4046     4225         ⋯
     │ Int64    Date…       Float64       Float64        Float64  Float64      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │       0  2015-12-27          1.33  64236.6        1036.74  54454.8      ⋯
   2 │       1  2015-12-20          1.35  54877.0         674.28  44638.8
   3 │       2  2015-12-13          0.93      1.1822e5    794.7       1.0915e5
   4 │       3  2015-12-06          1.08  78992.1        1132.0   71976.4
   5 │       4  2015-11-29          1.28  51039.6         941.48  43838.4      ⋯
   6 │       5  2015-11-22          1.26  55979.8        1184.27  48068.0
   7 │       6  2015-11-15          0.99  83453.8        1368.92  73672.7
   8 │       7  2015-11-08          0.98      1.09428e5   703.75      1.01815e
   9 │       8  2015-11-01          1.02  99811.4        1022.15  87315.6      ⋯
  10 │       9  2015-10-25          1.07  74338.8         842.4   64757.4
                                                               9 columns omitted

Busca por colunas

Existem diferentes maneiras para retornarmos os dados de uma coluna.

In [21]:
abacatesDataframe.AveragePrice

18249-element Vector{Float64}:
 1.33
 1.35
 0.93
 1.08
 1.28
 1.26
 0.99
 0.98
 1.02
 1.07
 1.12
 1.28
 1.31
 ⋮
 1.62
 1.56
 1.56
 1.54
 1.57
 1.56
 1.57
 1.63
 1.71
 1.87
 1.93
 1.62

In [23]:
abacatesDataframe[:,[:AveragePrice]]

18249×1 DataFrame
   Row │ AveragePrice
       │ Float64
───────┼──────────────
     1 │         1.33
     2 │         1.35
     3 │         0.93
     4 │         1.08
     5 │         1.28
     6 │         1.26
     7 │         0.99
     8 │         0.98
     9 │         1.02
    10 │         1.07
    11 │         1.12
   ⋮   │      ⋮
 18240 │         1.56
 18241 │         1.54
 18242 │         1.57
 18243 │         1.56
 18244 │         1.57
 18245 │         1.63
 18246 │         1.71
 18247 │         1.87
 18248 │         1.93
 18249 │         1.62
    18228 rows omitted

Utilizando indexacão para retornar linhas específicas da coluna.

In [22]:
abacatesDataframe.AveragePrice[10: 20, :]

11×1 Matrix{Float64}:
 1.07
 1.12
 1.28
 1.31
 0.99
 1.33
 1.28
 1.11
 1.07
 1.34
 1.33

In [8]:
abacatesDataframe[10:20,[:AveragePrice]]

11×1 DataFrame
 Row │ AveragePrice
     │ Float64
─────┼──────────────
   1 │         1.07
   2 │         1.12
   3 │         1.28
   4 │         1.31
   5 │         0.99
   6 │         1.33
   7 │         1.28
   8 │         1.11
   9 │         1.07
  10 │         1.34
  11 │         1.33

Brincando com selects

Quase um sql 😆

Selecionando todas as colunas exceto a coluna Date:

In [25]:
CsvSemData = select(abacatesDataframe, Not(:Date))

18249×13 DataFrame
   Row │ Column1  AveragePrice  Total Volume   4046      4225           4770   ⋯
       │ Int64    Float64       Float64        Float64   Float64        Float6 ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │       0          1.33  64236.6         1036.74  54454.8          48.1 ⋯
     2 │       1          1.35  54877.0          674.28  44638.8          58.3
     3 │       2          0.93      1.1822e5     794.7       1.0915e5    130.5
     4 │       3          1.08  78992.1         1132.0   71976.4          72.5
     5 │       4          1.28  51039.6          941.48  43838.4          75.7 ⋯
     6 │       5          1.26  55979.8         1184.27  48068.0          43.6
     7 │       6          0.99  83453.8         1368.92  73672.7          93.2
     8 │       7          0.98      1.09428e5    703.75      1.01815e5    80.0
     9 │       8          1.02  99811.4         1022.15  87315.6          85.3 ⋯
    10 │       9          1.07  74338.8          842.4   64757.4         113.0
    11 │      10          1.12  84843.4          924.86  75595.9         117.0
   ⋮   │    ⋮          ⋮              ⋮           ⋮            ⋮           ⋮   ⋱
 18240 │       2          1.56  22128.4         2162.67   3194.25          8.9
 18241 │       3          1.54  17393.3         1832.24   1905.57          0.0 ⋯
 18242 │       4          1.57  18421.2         1974.26   2482.65          0.0
 18243 │       5          1.56  17597.1         1892.05   1928.36          0.0
 18244 │       6          1.57  15986.2         1924.28   1368.32          0.0
 18245 │       7          1.63  17074.8         2046.96   1529.2           0.0 ⋯
 18246 │       8          1.71  13888.0         1191.7    3431.5           0.0
 18247 │       9          1.87  13766.8         1191.92   2452.79        727.9
 18248 │      10          1.93  16205.2         1527.63   2981.04        727.0
 18249 │      11          1.62  17489.6         2894.77   2356.13        224.5 ⋯
                                                8 columns and 18228 rows omitted

Buscando apenas as colunas que possuem "X" no nome.

In [26]:
select(abacatesDataframe, r"X")[1:4,:]

4×1 DataFrame
 Row │ XLarge Bags
     │ Float64
─────┼─────────────
   1 │         0.0
   2 │         0.0
   3 │         0.0
   4 │         0.0

Renomeando uma coluna:

In [27]:
select(abacatesDataframe, :Date => :Valdir)[1:4,:]

4×1 DataFrame
 Row │ Valdir
     │ Date…
─────┼────────────
   1 │ 2015-12-27
   2 │ 2015-12-20
   3 │ 2015-12-13
   4 │ 2015-12-06

Além de editar as colunas, podemos editar os valores dentro de cada uma delas.

In [28]:
select(abacatesDataframe, :AveragePrice)[1:5,:] #outra maneira para se acessar uma coluna
select(abacatesDataframe, :AveragePrice, :AveragePrice => ByRow(sqrt))[1:5,:]

5×2 DataFrame
 Row │ AveragePrice  AveragePrice_sqrt
     │ Float64       Float64
─────┼─────────────────────────────────
   1 │         1.33           1.15326
   2 │         1.35           1.1619
   3 │         0.93           0.964365
   4 │         1.08           1.03923
   5 │         1.28           1.13137

Joins, Join e mais Joins

In [2]:
people = DataFrame(ID = [20, 40], Name = ["John Doe", "Jane Doe"])

2×2 DataFrame
 Row │ ID     Name
     │ Int64  String
─────┼─────────────────
   1 │    20  John Doe
   2 │    40  Jane Doe

In [4]:
jobs = DataFrame(ID = [20, 60], Job = ["Lawyer", "Astronaut"])

2×2 DataFrame
 Row │ ID     Job
     │ Int64  String
─────┼──────────────────
   1 │    20  Lawyer
   2 │    60  Astronaut

Inner Join 

É composto pela união de duas tabelas, ligadas por suas chaves, no exemplo abaixo e no mais comum dos casos, a ligação das tabelas da-se pelos Id`s

In [5]:
innerjoin(people, jobs, on=:ID)

1×3 DataFrame
 Row │ ID     Name      Job
     │ Int64  String    String
─────┼─────────────────────────
   1 │    20  John Doe  Lawyer

Left Join 

Retorna as valores da tabela à esquerda, independentemente se existam registros na tabela à direita

In [6]:
leftjoin(people, jobs, on = :ID)

2×3 DataFrame
 Row │ ID     Name      Job
     │ Int64  String    String?
─────┼──────────────────────────
   1 │    20  John Doe  Lawyer
   2 │    40  Jane Doe  missing

In [ ]:
rigth join 

Retorna os valores da tabela à direita, independentemente se existam registros na tabela à esquerda

In [35]:
rightjoin(people, jobs, on = :ID)

2×3 DataFrame
 Row │ ID     Name      Job
     │ Int64  String?   String
─────┼────────────────────────────
   1 │    20  John Doe  Lawyer
   2 │    60  missing   Astronaut

outer Join

retorna os valores de cada chave independente se exista nas duas tabelas, é tipo um innerjoin com preguiça de retornar somente os registros que existem nas duas tabelas.

In [7]:
outerjoin(people, jobs, on = :ID)

3×3 DataFrame
 Row │ ID     Name      Job
     │ Int64  String?   String?
─────┼────────────────────────────
   1 │    20  John Doe  Lawyer
   2 │    40  Jane Doe  missing
   3 │    60  missing   Astronaut

Anotações: Quando um valor não existe em uma tabela, ele é tratado como missing.

Semi Join

Semi join faz a junção interna através das chaves (por ID neste caso), e retornan somente as colunas da tabela à esquerda.

In [37]:
semijoin(people, jobs, on = :ID)

1×2 DataFrame
 Row │ ID     Name
     │ Int64  String
─────┼─────────────────
   1 │    20  John Doe

Anti Join 

Assim como o Semi Join, o Anti Join retorna apenas as os resultados da tabela à esquerda, porém apenas aquelas que não possuem chaves equivalentes na tabela da direita.

In [38]:
antijoin(people, jobs, on = :ID)

1×2 DataFrame
 Row │ ID     Name
     │ Int64  String
─────┼─────────────────
   1 │    40  Jane Doe

Cross Join

Retona a combinação de todas as linhas das tabelas, conhecido também como produto cartesiano. (https://pt.wikipedia.org/wiki/Produto_cartesiano)

In [39]:
crossjoin(people, jobs, makeunique = true)

4×4 DataFrame
 Row │ ID     Name      ID_1   Job
     │ Int64  String    Int64  String
─────┼───────────────────────────────────
   1 │    20  John Doe     20  Lawyer
   2 │    20  John Doe     60  Astronaut
   3 │    40  Jane Doe     20  Lawyer
   4 │    40  Jane Doe     60  Astronaut

Conclusão

Posso afirmar com certeza que o trabalho se torna muito mais produtivo com estas ferramentas, a manipulação de dados com Julia mostrada aqui é somente o básico para sobreviver, o universo vai muito além, nos dando a capacidade de usar até mesmo comandos sql completos. 

Julia é uma linguagem poderosa, com a vantagem de possuir bibliotecas feitas e otimizadas especificamente para o trabalho com dados, se você ainda assim não está contente com as bibliotecas disponíveis, pode trazer bibliotecas de outras linguagens como C, fortran, R e Python para dentro do seu código. 

Espero que esse breve post possa ter lhe adicionado mais uma ferramenta extramemente útil em seu dia a dia.

Como demonstrado na documentação oficial, Julia também suporta outros formatos de dados, como: 

Apache Arrow (including Feather v2): Arrow.jl
Apache Feather (v1): Feather.jl
Apache Avro: Avro.jl
JSON: JSONTables.jl
Parquet: Parquet.jl
Stata, SPSS, and SAS: StatFiles.jl
Microsoft Excel (XLSX): XLSX.jl

Bibliografia

https://dataframes.juliadata.org/stable/man/joins/
https://dataframes.juliadata.org/stable/man/working_with_dataframes/
https://dataframes.juliadata.org/stable/man/importing_and_exporting/
https://dataframes.juliadata.org/stable/man/querying_frameworks/