Dataframes com Julia

Para comeÃ§o de conversa, um dataframe Ã© um objeto de duas dimensÃµes, cada coluna possui um valor distinto, e tem como objetivo armazenar armazenar dados, ou parte de uma base de dados.

qual a diferenca entre matriz e Dataframe

Uma matriz Ã© composta por por linhas e colunas, porÃ©m todos os dados de uma matriz sÃ£o do mesmo tipo, enquanto um dataframe, tambÃ©m composto por linhas e colunas, pode ser formado por diferentes tipos de dados.

anotacao: Ã© possÃ­vel transformar matrizes em dataframes com Julia usando: DataFrame(MatrizParaSerConvertida).

Trabalhar com dataframes Ã© uma softskill muito Ãºtil para fazermos uma anÃ¡lise exploratÃ³ria dos dados disponÃ­veis, muitas vezes com uma anÃ¡lise simplicada, jÃ¡ Ã© possÃ­vel chegar a 
alguns insigths sobre como prosseguir com o processo.

anotacao: Com anÃ¡lise exploratÃ³ria conseguimos um entendimento bÃ¡sico do relacimento das variÃ¡veis disponÃ­veis no dataframe, podemos usar tambÃ©m, usar mÃ©todos estatÃ­sticos junto da exploracÃ£o.

Comecando com Dataframes

vamos comecar importando as bibliotecas que serÃ£o usadas nessa etapa.

In [1]:
using DataFrames
using CSV
using Downloads

csvFile = "avocado.csv"

"avocado.csv"

Ao importar o csv, Ã© feito um dump dos dados, porÃ©m mesmo estando de maneira ordenada, continua bem baguncado. Bora por ordem na casa.

In [2]:
abacatesCsv = CSV.File(csvFile)[1:10,:]

10Ã—1 Matrix{CSV.Row}:
 CSV.Row: (Column1 = 0, Date = Dates.Date("2015-12-27"), AveragePrice = 1.33, Total Volume = 64236.62, 4046 = 1036.74, 4225 = 54454.85, 4770 = 48.16, Total Bags = 8696.87, Small Bags = 8603.62, Large Bags = 93.25, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 1, Date = Dates.Date("2015-12-20"), AveragePrice = 1.35, Total Volume = 54876.98, 4046 = 674.28, 4225 = 44638.81, 4770 = 58.33, Total Bags = 9505.56, Small Bags = 9408.07, Large Bags = 97.49, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 2, Date = Dates.Date("2015-12-13"), AveragePrice = 0.93, Total Volume = 118220.22, 4046 = 794.7, 4225 = 109149.67, 4770 = 130.5, Total Bags = 8145.35, Small Bags = 8042.21, Large Bags = 103.14, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 3, Date = Dates.Date("2015-12-06"), AveragePrice = 1.08, Total Volume = 78992.15, 4046 = 1132.0, 4225 = 71976.41, 4770 = 72.58, Total Bags = 5811.16, Small Bags = 5677.4, Large Bags = 133.76, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 4, Date = Dates.Date("2015-11-29"), AveragePrice = 1.28, Total Volume = 51039.6, 4046 = 941.48, 4225 = 43838.39, 4770 = 75.78, Total Bags = 6183.95, Small Bags = 5986.26, Large Bags = 197.69, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 5, Date = Dates.Date("2015-11-22"), AveragePrice = 1.26, Total Volume = 55979.78, 4046 = 1184.27, 4225 = 48067.99, 4770 = 43.61, Total Bags = 6683.91, Small Bags = 6556.47, Large Bags = 127.44, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 6, Date = Dates.Date("2015-11-15"), AveragePrice = 0.99, Total Volume = 83453.76, 4046 = 1368.92, 4225 = 73672.72, 4770 = 93.26, Total Bags = 8318.86, Small Bags = 8196.81, Large Bags = 122.05, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 7, Date = Dates.Date("2015-11-08"), AveragePrice = 0.98, Total Volume = 109428.33, 4046 = 703.75, 4225 = 101815.36, 4770 = 80.0, Total Bags = 6829.22, Small Bags = 6266.85, Large Bags = 562.37, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 8, Date = Dates.Date("2015-11-01"), AveragePrice = 1.02, Total Volume = 99811.42, 4046 = 1022.15, 4225 = 87315.57, 4770 = 85.34, Total Bags = 11388.36, Small Bags = 11104.53, Large Bags = 283.83, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")
 CSV.Row: (Column1 = 9, Date = Dates.Date("2015-10-25"), AveragePrice = 1.07, Total Volume = 74338.76, 4046 = 842.4, 4225 = 64757.44, 4770 = 113.0, Total Bags = 8625.92, Small Bags = 8061.47, Large Bags = 564.45, XLarge Bags = 0.0, type = "conventional", year = 2015, region = "Albany")

Para ficar mais organizado, Ã© sÃ³ converter a matriz para um dataframe e a brincadeira comeca a ficar mais legal.

In [7]:
abacatesDataframe = CSV.File(csvFile) |> DataFrame;

Se tiver alguma dÃºvida sobre alguma funcÃ£o ou parÃ¢metro, basta usar Ëœ?Ëœ antes do objeto de sua curiosidade.

In [1]:
?|>

search: |>

  |>(x, f)

  Applies a function to the preceding argument. This allows for easy function
  chaining.

  Examples
  â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡

  julia> [1:5;] |> x->x.^2 |> sum |> inv
  0.01818181818181818

Por padrÃ£o um csv Ã© sempre delimitado por virgulas, porÃ©m caso seu arquivo possua delimitadores diferentes, Julia vai tentar identifica-lo durante a iteracÃ£o com as 10 primeiras linhas. Caso necessÃ¡rio Ã© possÃ­vel especificar o delimitador do arquivo.

In [5]:
read(csvFile, DataFrame; delim="|") # segue outra forma de criar um dataframe Ã  partir de uma matriz CSV.read(path, DataFrame;)

LoadError: MethodError: no method matching read(::String, ::Type{DataFrame}; delim="|")
Closest candidates are:
  read(::AbstractString, ::Type{T}) where T at io.jl:434 got unsupported keyword argument "delim"
  read(::AbstractString, ::Any...) at io.jl:432 got unsupported keyword argument "delim"
  read(::IO, ::Type) at io.jl:967 got unsupported keyword argument "delim"

Usando sintaxes de indexacÃ£o 

sintexes de indexacÃ£o sÃ£o as maneiras mais simples de percorrermos, ou quebrarmos um dataset em deferentes blocos. A pesquisa toda Ã© feita de uma forma bem similar Ã  percorrer arrays e matrizes.

Retornando apenas os 10 primeiros valores do dataframe

In [9]:
abacatesDataframe[1:10,:]

10Ã—14 DataFrame
 Row â”‚ Column1  Date        AveragePrice  Total Volume   4046     4225         â‹¯
     â”‚ Int64    Dateâ€¦       Float64       Float64        Float64  Float64      â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚       0  2015-12-27          1.33  64236.6        1036.74  54454.8      â‹¯
   2 â”‚       1  2015-12-20          1.35  54877.0         674.28  44638.8
   3 â”‚       2  2015-12-13          0.93      1.1822e5    794.7       1.0915e5
   4 â”‚       3  2015-12-06          1.08  78992.1        1132.0   71976.4
   5 â”‚       4  2015-11-29          1.28  51039.6         941.48  43838.4      â‹¯
   6 â”‚       5  2015-11-22          1.26  55979.8        1184.27  48068.0
   7 â”‚       6  2015-11-15          0.99  83453.8        1368.92  73672.7
   8 â”‚       7  2015-11-08          0.98      1.09428e5   703.75      1.01815e
   9 â”‚       8  2015-11-01          1.02  99811.4        1022.15  87315.6      â‹¯
  10 â”‚       9  2015-10-25          1.07  74338.8         842.4   64757.4
                                                               9 columns omitted

Buscando por linhas especÃ­ficas:

In [20]:
abacatesDataframe[[1, 5, 10], :]

3Ã—14 DataFrame
 Row â”‚ Column1  Date        AveragePrice  Total Volume  4046     4225     4770 â‹¯
     â”‚ Int64    Dateâ€¦       Float64       Float64       Float64  Float64  Floa â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚       0  2015-12-27          1.33       64236.6  1036.74  54454.8    48 â‹¯
   2 â”‚       4  2015-11-29          1.28       51039.6   941.48  43838.4    75
   3 â”‚       9  2015-10-25          1.07       74338.8   842.4   64757.4   113
                                                               8 columns omitted

nrow Ã© uma funcÃ£o Ã³tima para descobrir quantos dados o arquivo possui

In [10]:
nrow(abacatesDataframe)

18249

Continuando com a exploracÃ£o do arquivo, o parametro allrows=true, faz um dump de todas as linhas do arquivo.

In [ ]:
#ver todas as linhas do dataframe
show(abacatesDataframe, allrows=true)

Na mesma funcÃ£o que o parametro allrows=true, o parametro allcols=true mostra todas as colunas do arquivo, mesmo que elas nÃ£o caibam na tela.

In [11]:
#ver todas as colunas, atÃ© as que nao cabem na tela
show(abacatesDataframe, allcols=true)

18249Ã—14 DataFrame
   Row â”‚ Column1  Date        AveragePrice  Total Volume   4046      4225           4770     Total Bags     Small Bags     Large Bags  XLarge Bags  type          year   region
       â”‚ Int64    Dateâ€¦       Float64       Float64        Float64   Float64        Float64  Float64        Float64        Float64     Float64      String        Int64  String
â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
     1 â”‚       0  2015-12-27          1.33  64236.6         1036.74  54454.8          48.16   8696.87        8603.62            93.25         0.0   conventional   2015  Albany
     2 â”‚       1  2015-12-20          1.35  54877.0          674.28  44638.8          58.33   9505.56        9408.07            97.49         0.0   conventional   2015  Albany
     3 â”‚       2  2015-12-13          0.93      1.1822e5     794.7       1.0915e5    130.5    8145.35        8042.21           103.14         0.0   conventional   2015  Albany
     4 â”‚       3  2015-12-06          1.08  78992.1         1132.0   71976.4          72.58   5811.16        5677.4            133.76         0.0   conventional   2015  Albany
     5 â”‚       4  2015-11-29          1.28  51039.6          941.48  43838.4          75.78   6183.95        5986.26           197.69         0.0   conventional   2015  Albany
     6 â”‚       5  2015-11-22          1.26  55979.8         1184.27  48068.0          43.61   6683.91        6556.47           127.44         0.0   conventional   2015  Albany
     7 â”‚       6  2015-11-15          0.99  83453.8         1368.92  73672.7          93.26   8318.86        8196.81           122.05         0.0   conventional   2015  Albany
     8 â”‚       7  2015-11-08          0.98      1.09428e5    703.75      1.01815e5    80.0    6829.22        6266.85           562.37         0.0   conventional   2015  Albany
     9 â”‚       8  2015-11-01          1.02  99811.4         1022.15  87315.6          85.34  11388.4        11104.5            283.83         0.0   conventional   2015  Albany
    10 â”‚       9  2015-10-25          1.07  74338.8          842.4   64757.4         113.0    8625.92        8061.47           564.45         0.0   conventional   2015  Albany
    11 â”‚      10  2015-10-18          1.12  84843.4          924.86  75595.9         117.07   8205.66        7877.86           327.8          0.0   conventional   2015  Albany
   â‹®   â”‚    â‹®         â‹®            â‹®              â‹®           â‹®            â‹®           â‹®           â‹®              â‹®            â‹®            â‹®            â‹®          â‹®           â‹®
 18240 â”‚       2  2018-03-11          1.56  22128.4         2162.67   3194.25          8.93  16762.6        16510.3            252.25         0.0   organic        2018  WestTexNewMexico
 18241 â”‚       3  2018-03-04          1.54  17393.3         1832.24   1905.57          0.0   13655.5        13401.9            253.56         0.0   organic        2018  WestTexNewMexico
 18242 â”‚       4  2018-02-25          1.57  18421.2         1974.26   2482.65          0.0   13964.3        13698.3            266.06         0.0   organic        2018  WestTexNewMexico
 18243 â”‚       5  2018-02-18          1.56  17597.1         1892.05   1928.36          0.0   13776.7        13553.5            223.18         0.0   organic        2018  WestTexNewMexico
 18244 â”‚       6  2018-02-11          1.57  15986.2         1924.28   1368.32          0.0   12693.6        12437.4            256.22         0.0   organic        2018  WestTexNewMexico
 18245 â”‚       7  2018-02-04          1.63  17074.8         2046.96   1529.2           0.0   13498.7        13066.8            431.85         0.0   organic        2018  WestTexNewMexico
 18246 â”‚       8  2018-01-28          1.71  13888.0         1191.7    3431.5           0.0    9264.84        8940.04           324.8          0.0   organic        2018  WestTexNewMexico
 18247 â”‚       9  2018-01-21          1.87  13766.8         1191.92   2452.79        727.94   9394.11        9351.8             42.31         0.0   organic        2018  WestTexNewMexico
 18248 â”‚      10  2018-01-14          1.93  16205.2         1527.63   2981.04        727.01  10969.5        10919.5             50.0          0.0   organic        2018  WestTexNewMexico
 18249 â”‚      11  2018-01-07          1.62  17489.6         2894.77   2356.13        224.53  12014.1        11988.1             26.01         0.0   organic        2018  WestTexNewMexico
                                                                                                                                                                        18228 rows omitted

Podemos percorrer as colunas do arquivo com eachcol, somando com a funcÃ£o eltype, recebemos o retorno dos tipos de cada coluna.

In [12]:
eltype.(eachcol(abacatesDataframe))

14-element Vector{DataType}:
 Int64
 Dates.Date
 Float64
 Float64
 Float64
 Float64
 Float64
 Float64
 Float64
 Float64
 Float64
 String
 Int64
 String

podemos buscar dados do inÃ­cio ou do fim do arquivo com First(DataFrame, QuantidadeDeArquivosParaRetorno) e Last(DataFrame, QuantidadeDeArquivosParaRetorno)

In [13]:
#10 ultimas
last(abacatesDataframe, 10)

10Ã—14 DataFrame
 Row â”‚ Column1  Date        AveragePrice  Total Volume  4046     4225     4770 â‹¯
     â”‚ Int64    Dateâ€¦       Float64       Float64       Float64  Float64  Floa â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚       2  2018-03-11          1.56       22128.4  2162.67  3194.25     8 â‹¯
   2 â”‚       3  2018-03-04          1.54       17393.3  1832.24  1905.57     0
   3 â”‚       4  2018-02-25          1.57       18421.2  1974.26  2482.65     0
   4 â”‚       5  2018-02-18          1.56       17597.1  1892.05  1928.36     0
   5 â”‚       6  2018-02-11          1.57       15986.2  1924.28  1368.32     0 â‹¯
   6 â”‚       7  2018-02-04          1.63       17074.8  2046.96  1529.2      0
   7 â”‚       8  2018-01-28          1.71       13888.0  1191.7   3431.5      0
   8 â”‚       9  2018-01-21          1.87       13766.8  1191.92  2452.79   727
   9 â”‚      10  2018-01-14          1.93       16205.2  1527.63  2981.04   727 â‹¯
  10 â”‚      11  2018-01-07          1.62       17489.6  2894.77  2356.13   224
                                                               8 columns omitted

In [14]:
#10 primeras
first(abacatesDataframe, 10)

10Ã—14 DataFrame
 Row â”‚ Column1  Date        AveragePrice  Total Volume   4046     4225         â‹¯
     â”‚ Int64    Dateâ€¦       Float64       Float64        Float64  Float64      â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚       0  2015-12-27          1.33  64236.6        1036.74  54454.8      â‹¯
   2 â”‚       1  2015-12-20          1.35  54877.0         674.28  44638.8
   3 â”‚       2  2015-12-13          0.93      1.1822e5    794.7       1.0915e5
   4 â”‚       3  2015-12-06          1.08  78992.1        1132.0   71976.4
   5 â”‚       4  2015-11-29          1.28  51039.6         941.48  43838.4      â‹¯
   6 â”‚       5  2015-11-22          1.26  55979.8        1184.27  48068.0
   7 â”‚       6  2015-11-15          0.99  83453.8        1368.92  73672.7
   8 â”‚       7  2015-11-08          0.98      1.09428e5   703.75      1.01815e
   9 â”‚       8  2015-11-01          1.02  99811.4        1022.15  87315.6      â‹¯
  10 â”‚       9  2015-10-25          1.07  74338.8         842.4   64757.4
                                                               9 columns omitted

Busca por colunas

Existem diferentes maneiras para retornarmos os dados de uma coluna.

In [21]:
abacatesDataframe.AveragePrice

18249-element Vector{Float64}:
 1.33
 1.35
 0.93
 1.08
 1.28
 1.26
 0.99
 0.98
 1.02
 1.07
 1.12
 1.28
 1.31
 â‹®
 1.62
 1.56
 1.56
 1.54
 1.57
 1.56
 1.57
 1.63
 1.71
 1.87
 1.93
 1.62

In [23]:
abacatesDataframe[:,[:AveragePrice]]

18249Ã—1 DataFrame
   Row â”‚ AveragePrice
       â”‚ Float64
â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
     1 â”‚         1.33
     2 â”‚         1.35
     3 â”‚         0.93
     4 â”‚         1.08
     5 â”‚         1.28
     6 â”‚         1.26
     7 â”‚         0.99
     8 â”‚         0.98
     9 â”‚         1.02
    10 â”‚         1.07
    11 â”‚         1.12
   â‹®   â”‚      â‹®
 18240 â”‚         1.56
 18241 â”‚         1.54
 18242 â”‚         1.57
 18243 â”‚         1.56
 18244 â”‚         1.57
 18245 â”‚         1.63
 18246 â”‚         1.71
 18247 â”‚         1.87
 18248 â”‚         1.93
 18249 â”‚         1.62
    18228 rows omitted

Utilizando indexacÃ£o para retornar linhas especÃ­ficas da coluna.

In [22]:
abacatesDataframe.AveragePrice[10: 20, :]

11Ã—1 Matrix{Float64}:
 1.07
 1.12
 1.28
 1.31
 0.99
 1.33
 1.28
 1.11
 1.07
 1.34
 1.33

In [8]:
abacatesDataframe[10:20,[:AveragePrice]]

11Ã—1 DataFrame
 Row â”‚ AveragePrice
     â”‚ Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚         1.07
   2 â”‚         1.12
   3 â”‚         1.28
   4 â”‚         1.31
   5 â”‚         0.99
   6 â”‚         1.33
   7 â”‚         1.28
   8 â”‚         1.11
   9 â”‚         1.07
  10 â”‚         1.34
  11 â”‚         1.33

Brincando com selects

Quase um sql ðŸ˜†

Selecionando todas as colunas exceto a coluna Date:

In [25]:
CsvSemData = select(abacatesDataframe, Not(:Date))

18249Ã—13 DataFrame
   Row â”‚ Column1  AveragePrice  Total Volume   4046      4225           4770   â‹¯
       â”‚ Int64    Float64       Float64        Float64   Float64        Float6 â‹¯
â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
     1 â”‚       0          1.33  64236.6         1036.74  54454.8          48.1 â‹¯
     2 â”‚       1          1.35  54877.0          674.28  44638.8          58.3
     3 â”‚       2          0.93      1.1822e5     794.7       1.0915e5    130.5
     4 â”‚       3          1.08  78992.1         1132.0   71976.4          72.5
     5 â”‚       4          1.28  51039.6          941.48  43838.4          75.7 â‹¯
     6 â”‚       5          1.26  55979.8         1184.27  48068.0          43.6
     7 â”‚       6          0.99  83453.8         1368.92  73672.7          93.2
     8 â”‚       7          0.98      1.09428e5    703.75      1.01815e5    80.0
     9 â”‚       8          1.02  99811.4         1022.15  87315.6          85.3 â‹¯
    10 â”‚       9          1.07  74338.8          842.4   64757.4         113.0
    11 â”‚      10          1.12  84843.4          924.86  75595.9         117.0
   â‹®   â”‚    â‹®          â‹®              â‹®           â‹®            â‹®           â‹®   â‹±
 18240 â”‚       2          1.56  22128.4         2162.67   3194.25          8.9
 18241 â”‚       3          1.54  17393.3         1832.24   1905.57          0.0 â‹¯
 18242 â”‚       4          1.57  18421.2         1974.26   2482.65          0.0
 18243 â”‚       5          1.56  17597.1         1892.05   1928.36          0.0
 18244 â”‚       6          1.57  15986.2         1924.28   1368.32          0.0
 18245 â”‚       7          1.63  17074.8         2046.96   1529.2           0.0 â‹¯
 18246 â”‚       8          1.71  13888.0         1191.7    3431.5           0.0
 18247 â”‚       9          1.87  13766.8         1191.92   2452.79        727.9
 18248 â”‚      10          1.93  16205.2         1527.63   2981.04        727.0
 18249 â”‚      11          1.62  17489.6         2894.77   2356.13        224.5 â‹¯
                                                8 columns and 18228 rows omitted

Buscando apenas as colunas que possuem "X" no nome.

In [26]:
select(abacatesDataframe, r"X")[1:4,:]

4Ã—1 DataFrame
 Row â”‚ XLarge Bags
     â”‚ Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚         0.0
   2 â”‚         0.0
   3 â”‚         0.0
   4 â”‚         0.0

Renomeando uma coluna:

In [27]:
select(abacatesDataframe, :Date => :Valdir)[1:4,:]

4Ã—1 DataFrame
 Row â”‚ Valdir
     â”‚ Dateâ€¦
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 2015-12-27
   2 â”‚ 2015-12-20
   3 â”‚ 2015-12-13
   4 â”‚ 2015-12-06

AlÃ©m de editar as colunas, podemos editar os valores dentro de cada uma delas.

In [28]:
select(abacatesDataframe, :AveragePrice)[1:5,:] #outra maneira para se acessar uma coluna
select(abacatesDataframe, :AveragePrice, :AveragePrice => ByRow(sqrt))[1:5,:]

5Ã—2 DataFrame
 Row â”‚ AveragePrice  AveragePrice_sqrt
     â”‚ Float64       Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚         1.33           1.15326
   2 â”‚         1.35           1.1619
   3 â”‚         0.93           0.964365
   4 â”‚         1.08           1.03923
   5 â”‚         1.28           1.13137

Joins, Join e mais Joins

In [2]:
people = DataFrame(ID = [20, 40], Name = ["John Doe", "Jane Doe"])

2Ã—2 DataFrame
 Row â”‚ ID     Name
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  John Doe
   2 â”‚    40  Jane Doe

In [4]:
jobs = DataFrame(ID = [20, 60], Job = ["Lawyer", "Astronaut"])

2Ã—2 DataFrame
 Row â”‚ ID     Job
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  Lawyer
   2 â”‚    60  Astronaut

Inner Join 

Ã‰ composto pela uniÃ£o de duas tabelas, ligadas por suas chaves, no exemplo abaixo e no mais comum dos casos, a ligaÃ§Ã£o das tabelas da-se pelos Id`s

In [5]:
innerjoin(people, jobs, on=:ID)

1Ã—3 DataFrame
 Row â”‚ ID     Name      Job
     â”‚ Int64  String    String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  John Doe  Lawyer

Left Join 

Retorna as valores da tabela Ã  esquerda, independentemente se existam registros na tabela Ã  direita

In [6]:
leftjoin(people, jobs, on = :ID)

2Ã—3 DataFrame
 Row â”‚ ID     Name      Job
     â”‚ Int64  String    String?
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  John Doe  Lawyer
   2 â”‚    40  Jane Doe  missing

In [ ]:
rigth join 

Retorna os valores da tabela Ã  direita, independentemente se existam registros na tabela Ã  esquerda

In [35]:
rightjoin(people, jobs, on = :ID)

2Ã—3 DataFrame
 Row â”‚ ID     Name      Job
     â”‚ Int64  String?   String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  John Doe  Lawyer
   2 â”‚    60  missing   Astronaut

outer Join

retorna os valores de cada chave independente se exista nas duas tabelas, Ã© tipo um innerjoin com preguiÃ§a de retornar somente os registros que existem nas duas tabelas.

In [7]:
outerjoin(people, jobs, on = :ID)

3Ã—3 DataFrame
 Row â”‚ ID     Name      Job
     â”‚ Int64  String?   String?
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  John Doe  Lawyer
   2 â”‚    40  Jane Doe  missing
   3 â”‚    60  missing   Astronaut

AnotaÃ§Ãµes: Quando um valor nÃ£o existe em uma tabela, ele Ã© tratado como missing.

Semi Join

Semi join faz a junÃ§Ã£o interna atravÃ©s das chaves (por ID neste caso), e retornan somente as colunas da tabela Ã  esquerda.

In [37]:
semijoin(people, jobs, on = :ID)

1Ã—2 DataFrame
 Row â”‚ ID     Name
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  John Doe

Anti Join 

Assim como o Semi Join, o Anti Join retorna apenas as os resultados da tabela Ã  esquerda, porÃ©m apenas aquelas que nÃ£o possuem chaves equivalentes na tabela da direita.

In [38]:
antijoin(people, jobs, on = :ID)

1Ã—2 DataFrame
 Row â”‚ ID     Name
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    40  Jane Doe

Cross Join

Retona a combinaÃ§Ã£o de todas as linhas das tabelas, conhecido tambÃ©m como produto cartesiano. (https://pt.wikipedia.org/wiki/Produto_cartesiano)

In [39]:
crossjoin(people, jobs, makeunique = true)

4Ã—4 DataFrame
 Row â”‚ ID     Name      ID_1   Job
     â”‚ Int64  String    Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  John Doe     20  Lawyer
   2 â”‚    20  John Doe     60  Astronaut
   3 â”‚    40  Jane Doe     20  Lawyer
   4 â”‚    40  Jane Doe     60  Astronaut

ConclusÃ£o

Posso afirmar com certeza que o trabalho se torna muito mais produtivo com estas ferramentas, a manipulaÃ§Ã£o de dados com Julia mostrada aqui Ã© somente o bÃ¡sico para sobreviver, o universo vai muito alÃ©m, nos dando a capacidade de usar atÃ© mesmo comandos sql completos. 

Julia Ã© uma linguagem poderosa, com a vantagem de possuir bibliotecas feitas e otimizadas especificamente para o trabalho com dados, se vocÃª ainda assim nÃ£o estÃ¡ contente com as bibliotecas disponÃ­veis, pode trazer bibliotecas de outras linguagens como C, fortran, R e Python para dentro do seu cÃ³digo. 

Espero que esse breve post possa ter lhe adicionado mais uma ferramenta extramemente Ãºtil em seu dia a dia.

Como demonstrado na documentaÃ§Ã£o oficial, Julia tambÃ©m suporta outros formatos de dados, como: 

Apache Arrow (including Feather v2): Arrow.jl
Apache Feather (v1): Feather.jl
Apache Avro: Avro.jl
JSON: JSONTables.jl
Parquet: Parquet.jl
Stata, SPSS, and SAS: StatFiles.jl
Microsoft Excel (XLSX): XLSX.jl

Bibliografia

https://dataframes.juliadata.org/stable/man/joins/
https://dataframes.juliadata.org/stable/man/working_with_dataframes/
https://dataframes.juliadata.org/stable/man/importing_and_exporting/
https://dataframes.juliadata.org/stable/man/querying_frameworks/